<h2>Employee List</h2>

<label for="departmentFilter">Filter by Department:</label>
<select id="departmentFilter" [(ngModel)]="selectedDepartment" (change)="filterEmployees()">
  <option value="">All</option>
  <option *ngFor="let dept of departments" [value]="dept.name">{{ dept.name }}</option>
</select>

<br /><br />

<table border="1" cellpadding="10">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Position</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of filteredEmployees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.emailId }}</td>
      <td>{{ employee.departmentName }}</td>
      <td>{{ employee.positionName }}</td>
       <td class="actions-cell" data-label="Actions">
      <span>Actions:</span>
      <select #actionDropdown (change)="onActionSelect(actionDropdown.value, employee.id)">
        <option value="">-- Select Action --</option>
        <option value="profile">👤 View Profile</option>
        <option value="update">✏️ Update</option>
        <option value="delete">🗑️ Delete</option>
      </select>
</td>
    </tr>
  </tbody>
</table>
